@use '../../base/extends';
@use '../../base/animations';
@import '../../base/variables';
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

.container {
  @extend %page_setting;

  h1 {
    text-align: center;
    padding-bottom: 10px;
    @extend %page_title_setting;
  }
}

.AddDeck {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;

  .search {
    padding: 0.5rem 1rem;
    width: 65%;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  .save{
    @extend %btn;
    background-color: #4caf74;
    &:hover {
      background-color: #79be38;
    }
  }
  .cancel{
    @extend %btn;
    background-color: #af814c;
    &:hover {
      background-color: #a04545;
    }
  }
}


.inputArea {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;

  .search {
    padding: 0.5rem 1rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  .searchButton{
    @extend %btn;
    background-color: $color-yellow;
    &:hover {
      background-color:  $hover-yellow;
    }
  }
}

.layout {
  width: 100%;
  display: flex;
  justify-content: space-between;

  article {
    height: 74vh;

    h2 {
      padding-bottom: 10px;
    }

    .cardList,
    .deckList {
      display: grid;
      gap: 1rem;
      flex: 1;
      background: #fff;
      border: 1px solid #d4a373;
      border-radius: 12px;
      padding: 20px;
      min-height: 90%;
      overflow-y: auto;
    }

  }

  .card {
    width: 69%;

    .cardList {
      max-height: 60vh;
      display: grid;
      grid-template-columns: repeat(5, 18%);
      grid-auto-rows: 30vh;
      overflow-y: scroll;
    }
  }

  .desk {
    width: 30%;

    .deckList {
      min-width: 30%;
      max-height: 60vh;
      display: grid;
      grid-template-columns: repeat(4, 20%);
      grid-auto-rows: 13vh;
      overflow-y: scroll;
    }
  }
}