@use '../../base/extends';
@use '../../base/animations';
@import '../../base/variables';
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

.navbar {
  position: fixed;
  z-index: 100;
  width: calc(100vw - 60px);
  height: 60px;
  background-color: #ffffffcc;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 26px;
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #fdc809;
}

.menu {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    cursor: pointer;
    font-weight: 500;

    a {
      color: #333;
      text-decoration: none;

      &:hover {
        color: $color-yellow;
      }
    }
  }
}