@use '../../base/extends';
@use '../../base/animations';
@import '../../base/variables';
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

.registerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $background;

    .registerBox {
        background-color: #fff;
        padding: 2rem;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;

        h2 {
            text-align: center;
            margin-bottom: 1.5rem;
            font-size: 1.8rem;
            color: $primary-color;
            font-family: "Knewave", system-ui;
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 0.5rem;
                font-weight: bold;
            }

            input {
                padding: 0.75rem;
                margin-bottom: 1rem;
                border: 1px solid $input-border;
                border-radius: 8px;
                font-size: 1rem;
                transition: border 0.2s;

                &:focus {
                    outline: none;
                    border-color: $primary-color;
                    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
                }
            }

            button {
                padding: 0.75rem;
                border: none;
                border-radius: 8px;
                background-color: $primary-color;
                color: #fff;
                font-size: 1rem;
                cursor: pointer;
                transition: background-color 0.3s;
                font-family: "Knewave", system-ui;
                font-weight: 400;

                &:hover {
                    background-color: darken($primary-color, 10%);
                }
            }
        }

        .loginLink {
            margin-top: 1rem;
            text-align: center;

            p {
                margin-top: 10px;
            }

            a {
                color: $primary-color;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}