@use '../../base/extends';
@use '../../base/animations';
@import '../../base/variables';
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

.container {
  @extend %page_setting;

  h1 {
    text-align: center;
    padding-bottom: 10px;
    @extend %page_title_setting;
  }
}

.inputArea {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  .search {
    padding: 0.5rem 1rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .searchButton {
    width: 20%;
    @extend %btn;
    background-color: $color-yellow;

    &:hover {
      background-color:  $hover-yellow;
    }
  }
}

.layout {

  article {
    height: 74vh;

    h2 {
      padding-bottom: 10px;
    }

    .cardList {
      display: grid;
      gap: 1rem;
      flex: 1;
      background: #fff;
      border: 1px solid #d4a373;
      border-radius: 12px;
      padding: 20px;
      min-height: 90%;
      max-height: 90%;
      overflow-y: auto;
    }

    .cardList {
      grid-template-columns: repeat(10, 1fr);
      grid-auto-rows: 140px;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;

  button {
    border: 1px solid #d1d5db;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s;

    &:hover:not(:disabled) {
      background-color: #f3f4f6;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }
}

.activePage {
  background-color: black;
  color: #4ade80;
  border-color: #4ade80;
}