@use '../../base/extends';
@use '../../base/animations';
@import '../../base/variables';
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

.container {
  @extend %page_setting;

  h1 {
    padding: 5px;
    border-radius: 10px;
    @extend %page_title_setting;
    font-size: 40px;
    color: $hover-yellow;
  }

  .backBtn {
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 5px 20px;
    background-color: $color-yellow;
    border-radius: 20px;

    &:hover {
      transform: scale(1.05);
      filter: brightness(1.1);
    }
  }

  .collection {
    color: #ffffff;
    margin-bottom: 20px;
    height: fit-content;
    width: fit-content;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgb(241, 202, 96);
  }

  .content {
    display: grid;
    grid-template-columns: 0.3fr 0.4fr 0.3fr;
    height: 75vh;
    gap: 5%;

    .imageArea {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      border-radius: 20px;
      margin: 30px 0;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);

      .image {
        width: 90%;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      }
    }

    .info {
      flex: 1;
    }

    .name {
      font-size: 28px;
      margin-bottom: 10px;
      font-weight: bold;

      .special {
        display: inline-block;
        background: gold;
        color: black;
        width: fit-content;
        padding: 2px 6px;
        margin-left: 5px;
        border-radius: 4px;
        font-size: 14px;
      }
    }

    .details {
      height: 55%;
      border: 2px solid $color-yellow;
      border-radius: 20px;
      padding: 20px;

      .meta {
        margin: 4px 0;

        tr {
          td {
            padding: 8px;
            font-size: 16px;
          }
        }
      }

      .block {
        margin-top: 16px;
      }
    }

    .infopokemon {
      height: 10%;
      padding: 20px 20px;
      margin-top: 16px;
      border: 2px solid $color-yellow;
      border-radius: 20px;

      p {
        margin-top: 10px;
      }
    }
  }

  .list {
    display: flex;
    align-items: center;
    width: 100%;

    .deckList {
      width: 100%;
      height: 75vh;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      overflow-y: auto;
      padding: 20px;

      .deckItem {
        padding: 1rem 3vw;
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .deckActions {
        display: flex;
        align-items: center;
        gap: 20px;

        .additem {
          padding: 5px;
          color: $color-blue;
          background-color: white;
          border: 3px solid $color-blue;
          border-radius: 10px;
          transition: 0.5s;

          &:hover {
            color: white;
            background-color: $color-blue;
          }
        }
      }
    }
  }
}