%width_seting {
    width: 100%;
    max-width: 100vw;
}

%fade_in_up {
    animation: fadeInUp 0.6s ease-out;
    animation-delay: 0.6s;
    animation-fill-mode: both;
}

%page_setting {
    padding: 80px;
    padding-bottom: 20px;
    background-color: #fffbea;
    min-height: calc(100vh - 140px);
    font-family: 'Noto Sans TC', sans-serif;
}

%page_title_setting {
    font-size: 25px;
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #fcd34d;
}
%btn {
  padding: 10px 15px;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
  transform: scale(1);
  min-width: 100px;
  font-size: 12px;

  &:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
  }
}